.root {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
}

.root::before {
  content: ' ';
  width: 70%;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -42.5%);
  background: linear-gradient(
    125deg,
    var(--gesit-gradiant-from),
    var(--gesit-gradiant-to)
  );
  background: conic-gradient(
    var(--gesit-gradiant-from),
    var(--gesit-gradiant-to)
  );
  opacity: var(--gesit-gradiant-opacity);
  filter: blur(70px);
}

.title {
  text-align: center;
  font-size: var(--text-3xl);
  font-weight: 400;
  z-index: 2;
}

.tagline {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-style: italic;
  color: var(--text-tertiary);
}

.map {
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .root {
    width: 85%;
    margin: 0 auto 5rem;
  }
  .title {
    text-align: left;
  }
  .root::before {
    width: 35%;
    height: 60%;
    transform: translate(50%, -35%);
  }
  .map {
    transform: scale(1.4);
  }
}

@media screen and (min-width: 1024px) {
  .tagline {
    right: 0;
  }
  .tagline::before {
    content: ' ';
    position: absolute;
    width: 55vw;
    right: 0;
    transform: translate(-13rem, -50%);
    height: 1px;
    background: linear-gradient(
      to right,
      var(--ui-primary) 50%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    right: 0;
    top: 50%;
  }
}
