.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background: var(--geist-background);
  padding: 1rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.2s;
}

.hide {
  transform: translateY(-100%);
}

.title {
  font-style: italic;
  width: 65%;
}
