.root {
  padding: 2.5rem 0;
  grid-area: head;
}

.title {
  font-size: var(--text-xl);
  margin: 0;
  margin-bottom: 1.5rem;
}

.date {
  font-size: var(--text-sm);
  color: var(--text-secondary);
}

.info {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-accent);
  font-size: var(--text-sm);
}

.linkIcon {
  line-height: 0.5;
  margin-right: 0.5rem;
}
